<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         processIsolation="false"
         stopOnFailure="false">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Exceptions/</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Hashed Route Test Suite">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="HASHED_ROUTE_DRIVER" value="hashids"/>
        <env name="HASHIDS_SALT" value="testSalt"/>
        <env name="OPTIMUS_PRIME" value="1892610877"/>
        <env name="OPTIMUS_INVERSE" value="1196358677"/>
        <env name="OPTIMUS_RANDOM" value="311869201"/>
    </php>
</phpunit>
